<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png"/>
		<link rel="icon" type="image/png" href="/Luxar.png"/>
		<title>LUXAR</title>

		<!--     Fonts and icons     -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<!-- Font Awesome Icons -->
		<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{{ encore_entry_script_tags('navbar-collapse') }}
	</head>
	<body class="m-0 font-sans antialiased font-normal bg-white text-start text-base leading-default text-slate-500">
		{% include "/_partials/navbar.html.twig" %}

		<main class="mt-0 transition-all duration-200 ease-in-out ps">
			<div class="pb-56 pt-12 m-4 min-h-50-screen items-start rounded-xl p-0 relative overflow-hidden flex bg-cover bg-top bg-[url('https://localhost/build/images/curved-images/curved-6.jpg')]">
				<span class="absolute top-0 left-0 w-full h-full bg-center bg-cover opacity-60 bg-gradient-to-tl from-zinc-800 to-zinc-700"></span>
				<div class="container z-0">
					<div class="flex flex-wrap justify-center -mx-3">
						<div class="w-full max-w-full px-5 mx-auto text-center shrink-0 lg:flex-0 lg:w-5/12">
                            <h1 class="mt-24 mb-2 text-white">Réinitialisation de mot de passe</h1>
                            <p class="text-white">Vous recevrez un e-mail dans un délai maximum de 60 secondes</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="flex flex-wrap justify-center -mx-3 -mt-48 lg:-mt-48 md:-mt-56">
					<div class="w-full max-w-full px-6 mx-auto shrink-0 md:flex-0 md:w-7/12 lg:w-5/12 xl:w-4/12">
						<div class="relative z-0 flex flex-col min-w-0 break-words bg-white border-0 shadow-xl md:mb-32 dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
							<div class="border-black/12.5 rounded-t-2xl border-b-0 border-solid p-6">
								<div class="flex">
									<div class="inline-block w-12 h-12 text-center bg-blue-500 rounded-lg shadow-sm">
										<i class="ni ni-circle-08 text-white text-lg leading-none relative top-3.5"></i>
									</div>
									<div class="ml-4">
                                        <h5 class="mb-0">Problème de connexion?</h5>
                                        <p class="mb-0 text-sm leading-normal">Restaurez l'accès à votre compte</p>
									</div>
								</div>
							</div>
							<div class="flex-auto p-6 text-center">
								{{ form_start(requestPassForm) }}
									<div>
										{{ form_row(requestPassForm.email, {'attr': {'placeholder': 'Email', 'class': 'text-sm focus:shadow-primary-outline dark:bg-slate-850 placeholder:text-gray-500 dark:placeholder:text-white/80 dark:text-white/80 leading-5.6 ease block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 px-3 font-normal text-gray-700 transition-all focus:border-blue-500 focus:bg-white focus:text-gray-700 focus:outline-none focus:transition-shadow" placeholder="Your e-mail" aria-label="Email" aria-describedby="email-addon'}}) }}
									</div>
                                    <div class="text-center">
                                        <button type="submit" class="inline-block w-full px-5 py-2.5 mt-6 mb-4 text-sm font-bold text-center text-white align-middle transition-all ease-in border-0 rounded-lg shadow-md cursor-pointer hover:-translate-y-px hover:shadow-xs leading-normal tracking-tight-rem bg-150 bg-x-25 bg-blue-500 active:-translate-y-px active:text-black hover:active:text-white">
                                            Réinitialiser le mot de passe
                                        </button>
									</div>
								{{ form_end(requestPassForm) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="py-12">
			<div class="container">
				<div class="flex flex-wrap -mx-3">
					<div class="w-8/12 max-w-full px-3 mx-auto mt-1 text-center flex-0">
						<p class="mb-0 text-slate-400">
							Copyright © 2024 LUXAR
						</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
