{# templates/register/step3.html.twig #}

<div id="step3" class="step hidden">
    <h2 class="text-lg font-semibold mb-4">Etape 3 : Coordonnées complémentaires</h2>
    <div class="mb-4">
        {{ form_label(registrationForm.city, 'Ville') }}
        {{ form_widget(registrationForm.city, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.postalCode, 'Code Postal') }}
        {{ form_widget(registrationForm.postalCode, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.country, 'Pays') }}
        {{ form_widget(registrationForm.country, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600'}}) }}
    </div>
    <div class="flex justify-center items-center mt-6">
        <div class="w-1/2">
            <div class="w-full rounded-full bg-gray-300">
                <div class="w-1/2 bg-blue-500 rounded-full"></div>
            </div>
        </div>
    </div>
</div>