<div id="step1" class="step">
    <h2 class="text-lg font-semibold mb-4">Etape 1 : Coordonnées de la personne</h2>
    <div class="mb-4">
        {{ form_label(registrationForm.firstname, 'Prénom') }}
        {{ form_widget(registrationForm.firstname, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.lastname, 'Nom') }}
        {{ form_widget(registrationForm.lastname, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.email, 'Adresse email') }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.password, 'Mot de passe') }}
        {{ form_widget(registrationForm.password, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600'}}) }}
    </div>
    <div class="mb-4">
        <label for="confirmpassword" class="required">Confirm Mot de passe</label>
        <input type="password" id="confirmpassword" name="confirmpassword" required="required" autocomplete="new-password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600">
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.phone, 'Téléphone') }}
        {{ form_widget(registrationForm.phone, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-600'}}) }}
    </div>
    <div class="flex justify-center items-center mt-6">
        <div class="w-1/2">
            <div class="w-full rounded-full bg-gray-300">
                <div class="w-1/2 bg-blue-500 rounded-full"></div>
            </div>
        </div>
    </div>
</div>
