{% extends 'dashboard/base.html.twig' %}

{% set breadcrumbs = [
    {
        text: 'Invoices',
        url: path('app_invoice_index')
    },
    {
        text: 'Edit',
        url: path('app_invoice_view', {'id': invoice.id})
    }
] %}
{% set page_title = 'invoices' %}
{% set sidenav_selected = 'invoices' %}

{% block row1 %}
    <div class="mt-40 mx-auto relative w-full">
        <div class="bg-clip-border bg-white border-0 break-words dark:bg-slate-850 dark:shadow-dark-xl flex flex-auto flex-col min-w-0 overflow-hidden p-4 relative rounded-2xl shadow-3xl">
            <div class="flex flex-wrap -mx-3">
                <div class="flex-none w-auto max-w-full px-3 my-auto">
                    <div class="h-full">
                    <h5 class="mb-1 dark:text-white">invoice n°{{ invoice.chrono }}</h5>
                    <p class="mb-0 font-semibold leading-normal dark:text-white dark:opacity-60 text-sm">{{ invoice.createdAt|date('d/m/Y H:i:s') }}</p>
                    </div>
                </div>
                <div class="flex-none w-auto max-w-full px-3 my-auto">
                    <div class="h-full">
                        {% if invoice.status == 'NEW' %}
                            {% set badge_color = 'bg-blue text-white' %}
                        {% elseif invoice.status == 'SENT' %}
                            {% set badge_color = 'bg-purple text-white' %}
                        {% elseif invoice.status == 'PAID' %}
                            {% set badge_color = 'bg-green text-white' %}
                        {% elseif invoice.status == 'CANCELED' %}
                            {% set badge_color = 'bg-red text-white' %}
                        {% endif %}
                        
                        <span class="align-baseline font-bold inline-block leading-none p-1 px-2.5 py-1.4 rounded-1.8 text-center text-xs uppercase whitespace-nowrap {{ badge_color }}">{{ invoice.status }}</span>
                        
                        
                        {% if invoice.status == 'SENT' %}
                            <span class="align-baseline font-bold inline-block p-1 px-2.5 py-1.4 rounded-1.8 text-center text-xs uppercase whitespace-nowrap">Envoyé le {{ invoice.sentAt|date('d/m/Y H:i:s') }}</span>
                        {% elseif invoice.status == 'PAID' %}
                            <span class="align-baseline font-bold inline-block p-1 px-2.5 py-1.4 rounded-1.8 text-center text-xs uppercase whitespace-nowrap">Signé le {{ invoice.paidAt|date('d/m/Y H:i:s') }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="dark:text-white/80 flex justify-end max-w-full md:flex-none md:w-1/2 mt-4 mx-auto px-3 sm:mr-0 sm:my-auto">
                    <button type="button" class="px-3 py-2 text-xs text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                        </svg>
                        Exporter
                    </button>
                    <button type="button" class="px-3 py-2 text-sm text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-center me-2 dark:border-purple-500 dark:text-purple-500 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-800">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
                        </svg>
                        Envoyer
                    </button>
                    <button onclick="openModal('default-modal')" type="button" class="px-3 py-2 text-sm text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-center me-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                        </svg>
                        Editer
                    </button>
                    {% include "/dashboard/invoice/_delete_form.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
<!-- Main modal -->

<style>
    #background-modal {
        display: none;
    }

    #background-modal:has(+ #default-modal:not(.hidden)) {
        display: block;
    }

    form:has(select#status option:checked:not([value="1"])) div#sent_at {
        display: none;
    }

    form:has(select#status option:checked:not([value="2"])) div#paid_at {
        display: none;
    }
</style>

<div id="background-modal" class="bg-black/40 fixed h-full right-0 top-0 w-full z-990"></div>
<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-sticky w-1/3">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <form method="POST" action="{{ path('app_invoice_edit_statut', {'id': invoice.id}) }}" class="modal bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white justify-center">
                        Éditer la facture
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-4 md:p-5 space-y-4">
                    {# <p class=" #}
                    Statut
                    <select name="statut" id="status" class="w-full p-2 border border-gray-200 rounded-lg dark:border-gray-600">
                        <option value="0">Nouveau</option>
                        <option value="1">Evoyer</option>
                        <option value="2">Signé</option>
                        <option value="3">Annulé</option>
                    </select>

                    <div id="sent_at">
                        <p class="m-0 p-0">Date d'envoi</p>
                        <input type="datetime-local" name="sentAt" class="w-full p-2 border border-gray-200 rounded-lg dark:border-gray-600">
                    </div>
                    <div id="paid_at">
                        <p class="m-0 p-0">Date de signature</p>
                        <input type="datetime-local" name="paidAt" class="w-full p-2 border border-gray-200 rounded-lg dark:border-gray-600">
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <input data-modal-hide="default-modal" type="submit" id="submit" value="Mettre à jour" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" defer>
    window.openModal = function(modalId) {
        document.getElementById(modalId).classList.remove('hidden')
        document.getElementsByTagName('body')[0].classList.add('overflow-y-hidden')
    }

    window.closeModal = function(modalId) {
        document.getElementById(modalId).classList.add('hidden')
        document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
    }

    // Close all modals when press ESC
    // TODO: Close only the last modal opened
    document.onkeydown = function(event) {
        event = event || window.event;
        if (event.keyCode === 27) {
            console.log('ESC key pressed')
            document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
            let modals = document.getElementsByClassName('modal');
            Array.prototype.slice.call(modals).forEach(i => {
                i.classList.add('hidden')
            })
        }
    };

    document.addEventListener('click', function(event) {
        if (event.target.dataset.modalHide !== undefined) {
            document.getElementById(event.target.dataset.modalHide)?.classList.add('hidden')
            document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
        }
        if (event.target.tagName === 'svg' || event.target.tagName === 'span') {
            document.getElementById(event.target.parentElement.dataset.modalHide)?.classList.add('hidden')
            document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
        }
    });
</script>
{% endblock %}

{% block row2 %}
<div class="flex flex-wrap -mx-3">
    <div class="max-w-full md:flex-none md:w-1/2 mt-6 px-3">
        <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="p-6 px-4 pb-0 mb-0 border-b-0 rounded-t-2xl">
                <h5 class="mb-0 dark:text-white font-black">CLIENT ASSOCIÉ</h5>
            </div>
            <div class="flex-auto pt-2 px-4">
                <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                    <li class="relative flex p-6 mb-2 border-0 rounded-t-inherit rounded-xl bg-gray-50 dark:bg-slate-850">
                        <div class="flex flex-col justify-center">
                            <p class="dark:text-white leading-normal m-0 p-0 text-sm">
                                {% if invoice.customer.type == 'PERSON' %}
                                    {{ invoice.customer.firstName }} {{ invoice.customer.lastName }}
                                {% elseif invoice.customer.type == 'COMPANY' %}
                                    {{ invoice.customer.companyName }} [{{ invoice.customer.siret }}]
                                {% endif %}
                            </p>
                        </div>
                        <div class="ml-auto text-right">
                            <a href="{{ path('app_customer_get_edit', {'id': invoice.customer.id}) }}" class="inline-block dark:text-white px-4 py-2.5 mb-0 font-bold text-center align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-normal text-sm ease-in bg-150 hover:-translate-y-px active:opacity-85 bg-x-25 text-slate-700">
                                <i class="mr-2 fas fa-pencil-alt text-slate-700" aria-hidden="true"></i>
                                voir le client
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="p-6 px-4 pb-0 mb-0 border-b-0 rounded-t-2xl">
                <h5 class="mb-0 dark:text-white font-black">DÉTAILS</h5>
            </div>

            <div class="border-b-0 mb-0 p-2 pb-0 px-4 rounded-t-2xl">
                <div class="">
                    <p class="m-0 p-0">Date d'émission</p>
                    <p class="font-light pl-3">{{ invoice.createdAt|date('d/m/Y H:i:s') }}</p>
                </div>
                <div class="">
                    <p class="m-0 p-0">Date de réalisation de la prestation</p>
                    <p class="font-light pl-3">{{ invoice.serviceDoneAt|date('d/m/Y H:i:s') }}</p>
                </div>
                <div class="">
                    <p class="m-0 p-0">Date d'exécution</p>
                    <p class="font-light pl-3">{{ invoice.paymentDeadline|date('d/m/Y H:i:s') }}</p>
                </div>
                <div class="">
                    <p class="m-0 p-0">Date limite de règlement</p>
                    <p class="font-light pl-3">{{ invoice.paymentDeadline|date('d/m/Y H:i:s') }}</p>
                </div>
                <div class="">
                    <p class="m-0 p-0">Taux de pénalité en cas de retard</p>
                    <p class="font-light pl-3">{{ invoice.paymentDelayRate ?? 0 }}%</p>
                </div>
            </div>

            <h5 class="border-b-0 dark:text-white font-black mb-0 px-4">PRESTATIONS RÉALISÉES</h5>

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-8 mt-2">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Nom
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Qté
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Prix (HT)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for service in invoice.services %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th data-label="Nom" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ service.product.nomProduit }}
                            </th>
                            <td data-label="Qté" class="px-6 py-4">
                                {{ service.quantity }}
                            </td>
                            <td data-label="Prix (HT)" class="px-6 py-4">
                                {{ service.unitPrice|number_format(2, ',', ' ') }} €
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="md:flex-none mt-6 px-3 md:w-1/2">
        <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
            <div class="p-6 px-4 pb-0 mb-0 border-b-0 rounded-t-2xl">
                <div class="gap-4 grid grid-cols-3">
                    <div class="flex justify-start">

                        <div class="flex flex-col justify-start text-left">
                            <p class="font-light p-0 m-0">{{ invoice.customer.owner.siret }}</p>

                            <p class="font-light p-0 m-0">{{ invoice.customer.owner.tvaNumber }}</p>

                            <p class="font-light p-0 m-0">{{ invoice.customer.owner.address }}</p>

                            <p class="font-light p-0 m-0">{{ invoice.customer.owner.postalCode }} {{ invoice.customer.owner.city }}</p>

                            <p class="font-light p-0 m-0">{{ invoice.customer.owner.country }}</p>

                            <p class="font-light p-0 m-0">{{ invoice.customer.owner.email }}</p>
                        </div>

                    </div>
                    <div class="flex justify-center align-middle">
                        <div class="flex flex-col justify-start text-center">
                            <p class="m-0 p-0 text-3xl">Facture</p>
                            <p class="font-light p-0 m-0">N°{{ invoice.chrono }}</p>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <div class="flex flex-col justify-start text-right">
                            <p class="m-0 p-0">
                                {% if invoice.customer.type == 'PERSON' %}
                                    {{ invoice.customer.firstName }} {{ invoice.customer.lastName }}
                                {% elseif invoice.customer.type == 'COMPANY' %}
                                    {{ invoice.customer.companyName }} [{{ invoice.customer.siret }}]
                                {% endif %}
                            </p>
                            <p class="font-light p-0 m-0">{{ invoice.customer.address }}</p>
                            <p class="font-light p-0 m-0">{{ invoice.customer.postalCode }} {{ invoice.customer.city }}</p>
                            <p class="font-light p-0 m-0">{{ invoice.customer.country }}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

            <div class="flex-auto p-4 pt-0">
                <p class="m-0 p-0">Date d'émission : {{ invoice.createdAt|date('d/m/Y H:i:s') }}</p>

                <p class="m-0 p-0">Date de réalisation de la prestation : {{ invoice.serviceDoneAt|date('d/m/Y H:i:s') }}</p>

                <p class="m-0 p-0">Date limite de règlement : {{ invoice.paymentDeadline|date('d/m/Y H:i:s') }}</p>

                <p class="m-0 p-0">Taux de pénalité en cas de retard : {{ invoice.paymentDelayRate ?? 0 }}%</p>
            </div>

            <hr class="h-px my-4 bg-gray-200 border-0 dark:bg-gray-700">

            <div class="relative overflow-x-auto shadow-md sm:rounded-lg m-8 mt-2">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Nom
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Qté
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Prix (HT)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set total = 0 %}
                        {% for service in invoice.services %}
                            {% set total = total + (service.quantity * service.unitPrice) %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th data-label="Nom" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ service.product.nomProduit }}
                                </th>
                                <td data-label="Qté" class="px-6 py-4">
                                    {{ service.quantity }}
                                </td>
                                <td data-label="Prix (HT)" class="px-6 py-4">
                                    {{ service.unitPrice|number_format(2, ',', ' ') }} €
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td data-label="Qté" class="px-6 py-2 text-right text-black font-bold" colspan="2" style="text-align: right;">
                                Total :
                            </td>
                            <td data-label="Prix (HT)" class="px-6 py-2">
                                {{ total|number_format(2, ',', ' ') }} €
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
